In [75]:
import pandas as pd
import requests

In [76]:
response = requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=5ac24a241dd09a253d181fa8c946222e&language=en-US&page=1")

In [77]:
df = pd.DataFrame(response.json()['results'])[['id' ,'title','overview','release_date','popularity','vote_count','vote_average']]

In [78]:
df

,id,title,overview,release_date,popularity,vote_count,vote_average
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,58.407,21465,8.7
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.602,3655,8.7
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,62.350,15998,8.7
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,32.622,12783,8.6
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,46.207,9645,8.6
5,667257,Impossible Things,A widow who is tormented by the memory of her ...,2021-06-17,17.869,237,8.6
6,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",2016-02-20,11.589,230,8.6
7,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,70.146,12854,8.5
8,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,163.731,8718,8.5
9,696374,Gabriel's Inferno,An intriguing and sinful exploration of seduct...,2020-05-29,8.570,2245,8.5
10,724089,Gabriel's Inferno: Part II,Professor Gabriel Emerson finally learns the t...,2020-07-31,10.554,1411,8.5
11,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,64.485,13728,8.5
12,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,21.078,6429,8.5
13,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,45.934,13948,8.5
14,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,66.637,27583,8.5
15,761053,Gabriel's Inferno: Part III,The final part of the film adaption of the ero...,2020-11-19,36.478,963,8.5
16,533514,Violet Evergarden: The Movie,As the world moves on from the war and technol...,2020-09-18,18.012,229,8.5
17,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,57.051,23175,8.5
18,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,84.548,19554,8.5
19,429,"The Good, the Bad and the Ugly",While the Civil War rages between the Union an...,1966-12-23,32.792,6639,8.5

In [79]:
df.head()

,id,title,overview,release_date,popularity,vote_count,vote_average
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,58.407,21465,8.7
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.602,3655,8.7
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,62.350,15998,8.7
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,32.622,12783,8.6
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,46.207,9645,8.6

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20 non-null     int64
 1   title         20 non-null     object
 2   overview      20 non-null     object
 3   release_date  20 non-null     object
 4   popularity    20 non-null     float64
 5   vote_count    20 non-null     int64
 6   vote_average  20 non-null     float64
dtypes: float64(2), int64(2), object(3)
memory usage: 1.2+ KB

In [81]:
data = pd.DataFrame()

In [84]:
for i in range(1,500):
    response= requests.get("https://api.themoviedb.org/3/movie/top_rated?api_key=5ac24a241dd09a253d181fa8c946222e&language=en-US&page={}".format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id' ,'title','overview','release_date','popularity','vote_count','vote_average']]
    data = data.append(temp_df ,ignore_index= True)

In [83]:
data

,id,title,overview,release_date,popularity,vote_count,vote_average
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,58.407,21465,8.7
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,18.602,3655,8.7
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,62.350,15998,8.7
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,32.622,12783,8.6
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,46.207,9645,8.6
...,...,...,...,...,...,...,...
9895,11692,The Adventures of Pluto Nash,"The year is 2087, the setting is the moon. Plu...",2002-08-15,7.766,382,4.4
9896,15268,Street Fighter: The Legend of Chun-Li,"When a teenager, Chun-Li witnesses the kidnapp...",2009-02-27,9.306,358,4.4
9897,9438,Mr. Magoo,"Mr. Magoo, a man with terrible eyesight, gets ...",1997-12-25,8.857,295,4.4
9898,119278,Smiley,After learning of an urban legend in which a d...,2012-10-12,10.916,316,4.4
9899,17532,S. Darko,"S. Darko follows Samantha Darko, the younger s...",2009-04-28,10.857,389,4.4

b'[{"info":{"type":"stock","title":"Airbnb Inc","ticker":"ABNB:NASDAQ","ticker_symbols":["ABNB","NASDAQ"],"country_code":"US","exchange":{"primary":{"symbol":null,"name":null},"secondary":{"symbol":null,"name":null}}},"price":{"currency":"USD","previous_close":110.4,"last":{"time":1653609600,"value":114.3,"today_change":3.9000015,"today_change_percent":3.53261},"after_hours":{"value":114.58,"change":0.27999878,"change_percent":0.24496831}}},{"info":{"type":"stock","title":"Airbnb Inc","ticker":"0A8C:LON","ticker_symbols":["0A8C","LON"],"country_code":"GB","exchange":{"primary":{"symbol":null,"name":null},"secondary":{"symbol":null,"name":null}}},"price":{"currency":"USD","previous_close":109.34,"last":{"time":1653588771,"value":115.47,"today_change":6.130005,"today_change_percent":5.60637},"after_hours":{"value":null,"change":null,"change_percent":null}}},{"info":{"type":"stock","title":"Airbnb Inc","ticker":"6Z1:ETR","ticker_symbols":["6Z1","ETR"],"country_code":"DE","exchange":{"primary":{"symbol":null,"name":null},"secondary":{"symbol":null,"name":null}}},"price":{"currency":"EUR","previous_close":101.24,"last":{"time":1653589890,"value":105.22,"today_change":3.9800034,"today_change_percent":3.9312558},"after_hours":{"value":null,"change":null,"change_percent":null}}},{"info":{"type":"stock","title":"Airbnb Inc","ticker":"ABNB:BMV","ticker_symbols":["ABNB","BMV"],"country_code":"MX","exchange":{"primary":{"symbol":null,"name":null},"secondary":{"symbol":null,"name":null}}},"price":{"currency":"MXN","previous_close":2190.08,"last":{"time":1653595997,"value":2250,"today_change":59.91992,"today_change_percent":2.7359695},"after_hours":{"value":null,"change":null,"change_percent":null}}},{"info":{"type":"stock","title":"Airbnb Inc Bdr","ticker":"AIRB34:BVMF","ticker_symbols":["AIRB34","BVMF"],"country_code":"BR","exchange":{"primary":{"symbol":null,"name":null},"secondary":{"symbol":null,"name":null}}},"price":{"currency":"BRL","previous_close":27.23,"last":{"time":1653608233,"value":27.23,"today_change":0,"today_change_percent":0},"after_hours":{"value":null,"change":null,"change_percent":null}}}]'